* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.app-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#generateButton {
  background-color: #4caf50;
}

#saveButton {
  background-color: #2196f3;
}

.palette-container, .saved-palettes-container {
  margin-top: 20px;
}

.color-block {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.saved-palettes {
  display: flex;
  flex-direction: column;
}

.saved-palette {
  margin-top: 10px;
  display: flex;
}
